

<section>
	<div class="feature-photo">
		<figure><img src="{{ asset( 'uploads/'~profil.cover)}}" alt=""></figure>
		<div class="add-btn">
			<span>1205 followers</span>
			<a href="#" title="" data-ripple="">Add Friend</a>
		</div>
		<div class="edit-phto">
			<i class="fa fa-camera-retro"></i>
			<a href="{{ path('editCover', {'id': user.id}) }}" class="fileContainer">
				Edit Cover Photo

			</a>
		</div>
		<div class="container-fluid">
			<div class="row merged">
				<div class="col-lg-2 col-sm-3">
					<div class="user-avatar">
						<figure>
							<img src="{{ asset( 'uploads/'~profil.photo)}}" alt="">
							<div class="edit-phto">
								<i class="fa fa-camera-retro"></i>
								<a href="{{ path('editPhoto', {'id': user.id}) }}" class="fileContainer">

								Edit Display Photo
								</a>
							</div>
						</figure>
					</div>
				</div>
				<div class="col-lg-10 col-sm-9">
					<div class="timeline-info">
						<ul>
							<li class="admin-name">
								<h5>{{ user.pseudo }}</h5>
								<span>Group Admin</span>
							</li>
							<li>
								<a class="" href="{{ path('editProfile', {'id': user.id}) }}" title="" data-ripple="">modiffier mon compt</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



